<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <dir>
    imagen
    <img src="data:image/jpg;base64,{{immg}}">
  </dir>
</body>

</html>
